<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="root">

        <!-- Questa la pagina generica -->
        <div class="page">

            <!-- utilizzato solo per dare lo sfondo superiore -->
            <div class="page_header"></div>

            <!-- utilizzato per dare lo sfondo principale -->
            <div class="page_main"></div>



            <div class="container">

                <!-- qui costruiremo la parte dell'app dedicata all'elenco dei contatti -->
                <div class="sidebar">

                    <header class="flex y_center" id="sidebar_header">

                        <!-- profilo dello user -->
                        <div class="user flex y_center">
    
                            <img class="avatar" :src="'./img/avatar' + user[0].avatar + '.jpg'" :alt="user[0].name">
        
                            <h2 class="user_name">{{user[0].name}}</h2>
    
                        </div>
    
                        <nav class="account_menu flex y_center">
    
                            <i class="fas fa-circle-notch"></i>
    
                            <i class="fas fa-comment-alt"></i>
    
                            <i class="fas fa-ellipsis-v"></i>
    
                        </nav>
    
                    </header>    
                    <!-- /sidebar_header -->


                    <main id="sidebar_main">

                        <!-- contiene un menu per le notifiche -->
                        <div class="alert flex y_center">

                            <div class="bell flex y_center">

                                <i class="fas fa-bell-slash"></i>

                            </div>

                            <div class="text_alert">

                                <h2>Ricevi notifiche di nuovi messaggi</h2>

                                <p>Attiva notifiche desktop</p>

                            </div>
                            
                        </div>

                        <!-- da qui è possibile filtrare i contatti -->
                        <div class="search bg_white">

                            <i class="fas fa-search"></i>
                                
                            <input type="text" v-model="searching" placeholder="Cerca o inizia una nuova chat">

                        </div>

                        <!-- lista dei contatti -->
                        <div class="contact_list bg_white">

                            <div v-for="(contact, index) in contacts" @click="changeSelector(index)" class="contact flex y_center" v-show="contact.name.toLowerCase().includes(searching)">
    
                                <img class="avatar" :src="'./img/avatar' + contact.avatar + '.jpg'" alt="'avatar' + contact.index + contact.name">
    
                                <div class="contact_name">
                                        
                                    <h2>{{contact.name}}</h2>
    
                                </div>
    
                            </div>

                        </div>

                    </main>
                    <!-- /sidebar_main -->


                </div>
                <!-- /sidebar -->


                <!-- qui costruiremo la finestra dedicata alla chat con il contatto selezionato -->
                <div class="chat_window">

                    <header class="flex y_center" id="chat_window_header">

                        <!-- questo è il contatto selezionato per chattare -->
                        <div class="contact_chat flex y_center">
    
                            <img class="avatar" :src="'./img/avatar' + contacts[selector].avatar + '.jpg'" :alt="'avatar' + contacts[selector].name">
    
    
                            <div class="chat_info">
                                
                                <h2 class="contact_name">{{contacts[selector].name}}</h2>
    
                                <p>Ultimo accesso oggi alle</p>
    
                            </div>
        
    
                        </div>
    
                        <!-- icone per funzioni (non attive) -->
                        <nav class="contact_chat_menu flex y_center">
    
                            <i class="fas fa-search"></i>
    
                            <i class="fas fa-paperclip"></i>
    
                            <i class="fas fa-ellipsis-v"></i>
    
                        </nav>
    
                    </header>
                    <!-- /chat_window_header -->


                    <main class="chat" id="chat_window_main">

                        <!-- per ogni messaggio scambiato con questo contatto apparirà una nuvoletta -->
                        <div v-for="(message, index) in contacts[selector].messages" @click="menuMessageVisible(index)" class="chat_message flex">


                            <!-- le nuvolette saranno differenti se il messaggio è inviato o ricevuto -->
                            <div  class="message" :class="message.status === 'sent' ? 'sent_message' : 'received_message'">
                                
                                <p class="message_text">{{message.text}}</p>

                                <!-- qui il menu del messaggio, visibile solo al click sul messaggio -->
                                <div :class="menuMessage.open === true && menuMessage.index === index ? 'open' : 'close'" class="menu_message">

                                    <i class="fas fa-info-circle"></i>

                                    <!-- cliccando qui si eliminerà il messaggio relativo -->
                                    <i @click="deleteMessage(index)" class="fas fa-trash-alt"></i>

                                </div>

                                <p class="small">{{message.date}}</p>

                            </div>

                            <br>

                        </div>

                    </main>
                    <!-- /chat_window_main -->


                    <footer class="interactive_space flex y_center">

                        <i class="far fa-smile"></i>

                        <!-- qui si può scrivere un nuovo messaggio da inviare premendo enter -->
                        <input @keyUp.enter="insertNewMessage" type="text" v-model="messageText" value="message" placeholder="Scrivi un messaggio"> 

                        <i class="fas fa-microphone"></i>

                    </footer>
                    <!-- /footer -->

                </div>
                <!-- /chat_window -->

            </div>
            <!-- /container -->

        </div>
        <!-- /page -->

    </div>
    <!-- /root -->

    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/app.js"></script>
    
</body>
</html>