*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page{
    width: 1400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 500px;
    display: flex;
}



/* Utility */

.flex{
    display: flex;
}

.y_center{
    align-items: center;
}

.bg_white{
    background-color: white;
}

header .avatar{
    width: 60px;
    border-radius: 50%;

}

main .avatar{
    width: 70px;
    border-radius: 50%;

}

h2{
    font-weight: 400;
    font-size: 1.3rem
}

header i{
    font-size: 1.7rem;
    color: rgb(177, 177, 177);
}

footer i{
    font-size: 1.7rem;
    color: rgb(107, 115, 118);
}

p{
    color: rgb(107, 115, 118);
}

header{
    width: 100%;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

nav{
    width: 125px;
    justify-content: space-around;
 
}


/* SIDEBAR */

.sidebar{
    width: 420px;
    background-color: rgb(250, 250, 250);
}

#sidebar_main{
    height: calc(100% - 80px);
}

.alert{
    height: 90px;
    padding: 20px;
    background-color: rgb(142, 218, 252);
    justify-content: space-between;
}

.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
}

.bell i{
    color: rgb(142, 218, 252);
    font-size: 1.7rem;
}

.text_alert p{
    text-decoration: underline;
}

.search{
    height: 40px;
    margin: 8px;
    padding: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.search i{
    font-size: 1.2rem;
    color:rgb(177, 177, 177);
    margin-right: 35px;
}

.contact_list{
    height: calc(100% - 146px);
    overflow-y: auto;
}

.contact{
    height: 90px;
    padding: 10px 20px;
}

.contact_name{
    height: 100%;
    padding: 0 20px;
}


/* CHAT_WINDOW */

.chat_window{
    width: 680px;
    border-left: 1px solid rgb(214, 214, 214);
}

.chat_info{
    margin-left: 15px;
}

#chat_window_main{
    width: 100%;
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.interactive_space {
    height: 80px;
    padding: 10px;
    justify-content: space-around;
    background-color: rgb(234, 234, 234);

}

.interactive_space input{
    width: 500px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

